.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  padding: 20px;
}

.content {
  text-align: center;
  width: 90%; /* Increased width */
  max-width: 1200px; /* More width for larger screens */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
}

.subtitle {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}

.search-container,
.offers-container,
.categories-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%; /* Increased width */
}

.dropdowns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.form-select {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.offer-images {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.offer-image {
  width: 48%;
  max-width: 550px;
  border-radius: 8px;
}

.categories-grid {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.category-image {
  width: 23%;
  min-width: 150px;
  border-radius: 8px;
}
